.mainNav {
    display: flex;
    justify-content: space-evenly;
    height: 42px;
    list-style-type: none;
    padding: 0;
    li {
        flex: 1 1 auto;
        text-align: center;
        padding: 10px;
        a {
            color: #222222;
            font-size: 14px;
            font-weight: 700;
            line-height: 26px;
            text-transform: uppercase;
            text-decoration-line: none;
            display: block;
            &:hover {
                border-bottom: 2px solid #f16d7f;
                border-radius: 0;
            }
        }
    }  
}