@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
.mainNav {
  display: flex;
  justify-content: space-evenly;
  height: 42px;
  list-style-type: none;
  padding: 0; }
  .mainNav li {
    flex: 1 1 auto;
    text-align: center;
    padding: 10px; }
    .mainNav li a {
      color: #222222;
      font-size: 14px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
      text-decoration-line: none;
      display: block; }
      .mainNav li a:hover {
        border-bottom: 2px solid #f16d7f;
        border-radius: 0; }

.itemsLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative; }
  .itemsLayout .item {
    display: flex;
    flex-direction: column;
    width: 265px; }
    .itemsLayout .item:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }
      .itemsLayout .item:hover .fade {
        display: flex;
        justify-content: center;
        align-items: center; }
    .itemsLayout .item .itemText {
      padding: 20px; }
      .itemsLayout .item .itemText h4 {
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0; }
      .itemsLayout .item .itemText h3 {
        color: #f16d7f;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0; }
    .itemsLayout .item .fade {
      display: none;
      height: calc(100% - 92px);
      width: inherit;
      background: rgba(0, 0, 0, 0.5);
      position: absolute; }
      .itemsLayout .item .fade button {
        padding: 15px;
        border: 1px solid #ffffff;
        background: none;
        color: white;
        font-size: 13px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        outline: none; }

.proceedToCartBtn {
  text-align: right;
  padding: 15px 0; }
  .proceedToCartBtn button {
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    cursor: pointer; }

body {
  font-family: 'Lato', sans-serif;
  margin: 0; }

.container {
  width: 1140px;
  margin: 0 auto; }
