<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <title>Shopping Cart</title>
</head>

<body>
    <div id="app" v-if="response === 200">
            <div class="container">
                    <header>
                        <div class="headerInside row no-gutters">
                            <div class="logo col-lg-3 col-md-3">
                                BRAN<span>D</span>
                            </div>
                            <search-field @searchclick="handleSearch"></search-field>
                            <account @handlelogin="handleLogin" @handleregister="handleRegister" @handlelogout="handleLogout"></account>
                        </div>
                    </header>
                </div>
                <div class="container">
                    <ul class="nav nav-pills nav-fill mainNav">
                        <li v-for="menuItem in mainNav" class="nav-item">
                            <a :href="menuItem.link" class="nav-link">{{ menuItem.name }}</a>
                        </li>
                    </ul>
                </div>
        <div class="topBanner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>NEW ARRIVALS</p>
                    </div>
                    <div class="col-md-6">
                        <nav aria-label="breadcrumb" class="topNav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">HOME</a></li>
                                <li class="breadcrumb-item"><a href="#">MEN</a></li>
                                <li class="breadcrumb-item"><a href="#">NEW ARRIVALS</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <main>
            <cart-list :cart="cart" :total="total" @deleteclick="deleteFromCart"></cart-list>
            <div class="shopCartButtons">
                <div class="row container">
                    <div><button>CLEAR SHOPPING CART</button></div>
                    <div><a href="http://localhost:3000/product.html"><button>CONTINUE SHOPPING</button></a></div>
                </div>
            </div>
            <div class="container">
                <div class="row shipping">

                    <div class="col-xl-4 col-md-6 col-sm-12 address">
                        <h4>SHIPPING ADDRESS</h4>
                        <form>
                            <input type="text" placeholder="Bangladesh">
                            <input type="text" placeholder="State">
                            <input type="text" placeholder="Postcode/ZIP">
                            <button>GET A QUOTE</button>
                        </form>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12 coupon">
                        <h4>COUPON DISCOUNT</h4>
                        <p>Enter your coupon code if you have one</p>
                        <form>
                            <input type="text" placeholder="State">
                            <button>APPLY COUPON</button>
                        </form>
                    </div>
                    <div class="col-xl-4 col-md-12 col-sm-12 total">
                        <p>SUB TOTAL $900</p>
                        <h5>GRAND TOTAL <span>$900</span></h5>
                        <img src="images/line.png" alt="line">
                        <a href="http://localhost:3000/checkout.html"><button>PROCEED TO CHECKOUT</button></a>
                    </div>
                </div>
            </div>
        </main>
        <foot-banner></foot-banner>
        <foot></foot>
        <copy></copy>
        <error :response="response"></error>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="script.js"></script>
</body>

</html>